*{
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background: rgb(241, 241, 241);
}

.heading{
    margin: 40px;
    padding: 20px;
    background-color: lightgray;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.75);
}
h1{
    color: gray;
    border: black 1px;
}   

.columns{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.columns > div{
    margin: 40px;
    padding: 60px;
    border-radius: 0.5em;
    background-color: lightgray;
    background-image: url(../img/fenster.jpg);
    width: 50%;
    max-width: 250px;
    text-align: center;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.5);
}

.columns > div > a{
    text-decoration: none;
    color: black;
    padding: 60px;
}

a:hover{
    text-decoration: underline;
}

footer{
    margin-top: 100px;
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    width: auto;
}