*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
  }

/* variables */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-white: #F5EEDD;
    --clr-green: #A4C09A;
    --clr-dark: #5C6B5C;
    --clr-grey: #C7C2AF;
    --clr-accent: #16b8e0;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    /* box shadow with 2 layers */
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}



html{
    background: var(--clr-white);
}

.heading{
    padding: 5px;
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.heading img{
    max-width: 80%;
}


.content{
    max-width: 1400px;
    margin: auto;
}

h3{
    text-align: center;
    color: var(--clr-dark);
}

h4{
    color: var(--clr-white);
    text-align: center;
}

.columns{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.columns a{
    margin: 20px 20px;
    padding: 60px;
    border-radius: 0.5em;
    background-color: var(--clr-grey);
    width: 70%;
    max-width: 350px;
    text-align: center;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.5);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 
        transform 250ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.columns a:hover{
    text-decoration: underline;
    transform: scale(1.1);  
}

.divider{
    margin-top: 40px;
    background-color: var(--clr-green);
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-form{
    padding: 10px;
    height: 400px;
    width: 80%;
    max-width: 1000px;
    background: var(--clr-white);
    border-radius: 0.5em;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.5);
}

.contact-form input,
.contact-form p{
    margin: 5px 10px;
    width: 80%;
}

textarea:focus, input:focus{
    outline: none;
}

.contact-form input,
textarea{
    padding: 10px;
    border-color: white;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.25);
    border: none;
    border-radius: 1rem;
}

textarea{
    resize: none;
}

.submit{
    background-color: var(--clr-dark);
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.25);
    padding: 15px;
    border-radius: 1rem;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.message{
    height: 150px; 
}

input[type=submit] {
    background-color: var(--clr-green);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 1em;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  } 

footer{
    background-color: var(--clr-dark);
    padding: 20px;
    text-align: center;
    color: white;
    width: auto;
}

footer a{
    color: var(--clr-green);
}


/*backgrounds for columns*/
.neubau{
    background-image: url(../img/neubau.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}

.poolbau{
    background-image: url(../img/poolbau.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}

.fenster{
    background-image: url(../img/fenster.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}

.sanierungen{
    background-image: url(../img/sanierung.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}

.kleinstbau{
    background-image: url(../img/kleinstbau.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}


.leitungsbau{
    background-image: url(../img/leitungsbau.jpg    );
    background-size: cover;
    background-blend-mode: multiply;
}